.map-section {
    background-image: url("../img/img_1.jpg");
    background-position: top 0px right 0px;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    @media (max-width: 900px) {
        background: none;
    }
    img {
        display: none;
        @media (max-width: 900px) {
            display: block;
            width: 100%;
        }
    }
    .txt-container {
        width: 50%;
        gap: 10px;
        padding-top: 50px;
        padding-right: 10px;
        padding-bottom: 50px;
        @media (max-width: 900px) {
            width: 100%;
            align-items: center;
            text-align: justify;
            padding-bottom: 20px;
        }
        h3 {
            font-weight: 300;
            font-size: rem(30px);
            line-height: rem(30px);
            @media (max-width: 900px) {
                text-align: center;
            }
        }
        button {
            background-color: $clr1;
            padding: 10px 20px;
            border-radius: 25px;
            border: none;
            text-transform: uppercase;
            font-weight: bold;
            align-self: flex-start;
            max-width: 50%;
            margin-bottom: 10px;
            @media (max-width: 900px) {
                align-self: center;
            }   
        }
    }
}
